#php_snippets_header {
	color: #cecece;
	font-size: 23px;
	line-height: 29px;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
	padding-bottom: 20px;
}


.php_snippets_header_text {
	color: #cecece;
	font-size: 23px;
	line-height: 29px;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}

img.php_snippets_img {
	vertical-align: middle;
	margin-right: 10px;
}


span.php_snippets_link {
	padding: 10px;
	margin-left: 5px;
}


.php_snippets_page_title {
	display: block;
	margin-top: -10px;
	color: #464646;
	font-size: 18px;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}

.php_snippets_description {
	display:block;
	font-style:italic;
}


label.php_snippets_label {
	display:block;
	font-weight:bold;
}

.php_snippets_licensing_info {
	border:1px dotted gray; 
	padding:10px; 
	margin: 0px 0px 20px 0px;
	background: #fff;
	border: 1px solid #ddd;
}

.license_status {
	margin: 10px 0px;
}
.php_snippets_valid {
	border-left: 5px solid #7ad03a;
}

.php_snippets_invalid {
	border-left: 5px solid #dd3d36;
}

.rm_dir {
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 3px 8px;
}

.rm_dir {
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 3px 8px;
	background: #f1f1f1;
}

.warning_field {
	border: 1px solid #ae0004;
	padding: 2px;
	background: #fdbdbd;
	font-size: 11px;
	margin: 5px 0px;
}

.warning_field .warn_info {
	margin-left: 5px;
	color: #ae0004;
}
span.php_snippets_error {
    color: red;
}

.snippet_dir {
	margin-left: 0px;
	font-size: 13px;
	background: #ddd;
	padding: 5px 3px;
	font-weight: bold;
	margin-bottom:5px; 
}

.mce-i-php-snippets-icon {
	background-image: url('../images/php-snippet-small.png') !important;
	border: none !important;
	background-size: 23px !important;
	background-repeat: no-repeat !important;
}